<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender for Console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] correlationId=%X{correlationId} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender for Rolling File -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/restaurant-choice-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rollover daily and keep 3 days worth of history -->
            <fileNamePattern>logs/restaurant-choice-service.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] correlationId=%X{correlationId} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>

</configuration>
